@import '../../../styles/variables';

.rogu-og-message-item-body {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 400px;

  .rogu-og-message-item-body__og-wrapper {
    padding: 8px;
    display: flex;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .rogu-og-message-item-body__og-container {
    display: flex;
    position: relative;
    width: auto;
  }

  .rogu-og-message-item-body__og-thumbnail {
    position: relative;
    width: 60px;
    height: 60px;

    .rogu-og-message-item-body__og-thumbnail__image {
      width: 100%;
    }
  }

  .rogu-og-message-item-body__description {
    padding: 4px 8px;
    flex: 1;
    width: 100px;

    .rogu-og-message-item-body__description__title,
    .rogu-og-message-item-body__description__description {
      margin-bottom: 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }

    .rogu-og-message-item-body__description__url {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      margin: 0;
    }
  }

  &.rogu-og-message-item-body--preview {
    max-width: 100%;

    .rogu-og-message-item-body__og-wrapper {
      align-items: center;
      justify-content: space-between;
    }

    .rogu-og-message-item-body__og-container {
      width: 90%;
    }
  }

  &.rogu-og-message-reactions .rogu-og-message-item-body__description {
    border-radius: 0;
  }

  .rogu-og-message-item-body__og-thumbnail:hover,
  .rogu-og-message-item-body__description:hover {
    cursor: pointer;
  }

  &.rogu-og-message--outgoing {
    .rogu-og-message-item-body__og-wrapper {
      @include themed() {
        background-color: t(primary-2);
      }
    }
  }

  &.rogu-og-message--incoming {
    .rogu-og-message-item-body__og-wrapper {
      @include themed() {
        background-color: t(bg-1);
      }
    }
  }

  &.mouse-hover,
  &:hover {
    .rogu-og-message--outgoing {
      .rogu-og-message-item-body__og-wrapper {
        @include themed() {
          background-color: t(primary-2);
        }
      }
    }

    .rogu-og-message--incoming {
      .rogu-og-message-item-body__og-wrapper {
        @include themed() {
          background-color: t(bg-1);
        }
      }
    }
  }
}
