@import '../../../styles/variables';

.rogu-admin-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .rogu-admin-message__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 6px 7px;

    @include themed() {
      background-color: t(bg-1);
    }

    .rogu-admin-message__text {
      display: flex;
    }
  }
}
