@import '../../../styles/variables';

.rogu-replied-text-message-item-body {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  border-left-width: 2px;
  border-left-style: solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include themed() {
    border-left-color: t(primary-5);
  }

  &.rogu-replied-text-message-item-body--outgoing {
    @include themed() {
      background-color: t(primary-2);
    }
  }

  &.rogu-replied-text-message-item-body--incoming {
    @include themed() {
      background-color: t(bg-1);
    }
  }

  .rogu-replied-text-message-item-body__content {
    .rogu-replied-text-message-item-body__content__message {
      white-space: pre-wrap;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .rogu-replied-text-message-item-body__cancel {
    flex-shrink: 0;
    margin: 0 20px;
  }
}
