@import '../../../styles/variables';

$borderRadius: 0.5rem;
$bubbleCaretSize: 0.5rem;
$avatarSpacing: 0.5rem;
$avatarSize: 2rem;

.rogu-message-content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;

  @include themed() {
    color: t(on-bg-1);
  }

  .rogu-message-content__avatar {
    margin-right: $avatarSpacing;
    width: $avatarSize;
    height: $avatarSize;
    flex-shrink: 0;
  }

  .rogu-message-content__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    max-width: 35rem;

    .rogu-message-content__bubble {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      .rogu-message-content__bubble__header {
        line-height: 0;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0.25rem;

        .rogu-message-content__sender-name {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          word-break: break-all;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .rogu-message-content__operator-label {
          margin-left: 0.5rem;
          padding: 0.25rem 0.75rem;
          border-radius: 0.25rem;
          white-space: nowrap;

          @include themed() {
            color: t(on-bg-1);
            background-color: t(bg-1);
          }
        }

        .rogu-message-content__menu {
          flex-shrink: 0;
        }
      }

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 0;
      }
    }

    .rogu-message-content__misc {
      margin-top: 0.25rem;
    }
  }

  &.rogu-message-content--incoming {
    justify-content: flex-start;

    .rogu-message-content__content {
      padding-left: $bubbleCaretSize;

      .rogu-message-content__bubble {
        border-top-left-radius: 0;

        @include themed() {
          background-color: t(bg-0);
        }

        &::before {
          border-width: 0 $bubbleCaretSize $bubbleCaretSize 0;
          left: 0;

          @include themed() {
            border-color: transparent t(bg-0) transparent transparent;
          }
        }
      }
    }
  }

  &.rogu-message-content--outgoing {
    justify-content: flex-end;

    .rogu-message-content__content {
      padding-right: $bubbleCaretSize;
      padding-left: $avatarSize + $avatarSpacing;

      .rogu-message-content__bubble {
        border-top-right-radius: 0;

        @include themed() {
          background-color: t(primary-1);
        }

        &::before {
          border-width: $bubbleCaretSize $bubbleCaretSize 0 0;
          right: 0;

          @include themed() {
            border-color: t(primary-1) transparent transparent transparent;
          }
        }
      }
    }
  }

  &.rogu-message-content--chain-bottom {
    margin-bottom: 0.5rem;
  }

  &.rogu-message-content--chain-top {
    .rogu-message-content__content {
      .rogu-message-content__bubble {
        &::before {
          display: none;
        }
      }
    }

    &.rogu-message-content--incoming {
      .rogu-message-content__content {
        padding-left: $avatarSize + $avatarSpacing + $bubbleCaretSize;

        .rogu-message-content__bubble {
          border-top-left-radius: 0;
        }
      }
    }

    &.rogu-message-content--outgoing {
      .rogu-message-content__content {
        padding-right: $bubbleCaretSize;

        .rogu-message-content__bubble {
          border-top-right-radius: 0;
        }
      }
    }
  }
}
