@import '../../../styles/variables';

.rogu-text-message-item-body {
  position: relative;
  display: inline-block;
  box-sizing: content-box;

  .rogu-text-message-item-body__message {
    white-space: pre-wrap;
    word-break: break-all;
  }

  .rogu-text-message-item-body__read-more {
    font-weight: bolder;
  }

  .rogu-text-message-item-body__inner {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    align-self: center;
  }

  &.rogu-text-message-item-body--incoming {
    .rogu-text-message-item-body__read-more {
      @include themed() {
        color: t(secondary-3);
      }
    }
  }

  &.rogu-text-message-item-body--expanded {
    .rogu-text-message-item-body__inner {
      display: block;
      overflow: visible;
    }
  }

  &.viewer-mode {
    position: absolute;
    bottom: 5%;
    max-height: 40%;
    min-width: 60%;
    max-width: 95%;
    background: #f1f4f9;
    backdrop-filter: blur(16px);
    padding: 24px;
    overflow: auto;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;

    @include sm {
      max-width: 70%;
    }

    &.hidden {
      max-height: 0;
      padding: 0;
    }
  }
}
